<html>
    <head>
        <title>瑞英瑞汉字典</title>
        <script type="text/javascript" src="http://www.google.com/jsapi">
        </script>
        <!--disable zooming for mobile phone-->
        <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
        <link type="text/css" rel="stylesheet" href="/css/style.css" />
        
    {% include "googleanalytics.inc" %}
    </head>
    <body>
    <script type="text/javascript" src="/js/g_translate_api.js">
    </script>
        <form onsubmit="return submitChange();">
            <table>
                <tr>
                    <td><div id="src">
                    <textarea id="text" rows="2" cols="25"></textarea>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td  align="center">
                    <input id="translateButton" class="button" type="submit" value="Translate"/>
                    <input id="clearButton" class="button" type="button" onClick="javascript:clearInput();" value="Clear"/>
                    <!--<select id="dst">
                        <option value="en">en</option>
                        <option value="zh-CN">zh</option>
                    </select>-->
                    </td>
                </tr>
            </table>  
        </form>
        <div id="result">
        <div class="header">
            Translation:
        </div>
        <div id="translation_en" class="translation">Result</div>
        <div id="translation_zh" class="translation">结果</div>
        <br />
        <div id="tyda"></div>
        <br />
        <div class="header">Tyda translation:</div>
        <div id="tyda_en_words" class="translation"></div>
        <div id="zh_words" class="translation"></div>
        
        </div>
    <br />
    
    
    <br /><br />
    {% include "footer.inc" %}

    <!--{% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}

    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>-->

  </body>
</html>
